body {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.container {
    margin: 0 auto 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    /* background-color: #f8f8f8; */
}

.flex {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row-reverse;
}

.header {
    /* padding: 0px 0; */
    text-align: center;
}

.input_form {
    padding: 15px 0;
    margin: 0 auto 0 auto;
    background-color: aliceblue;
    /* width: 900px; */
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}
.form {
    margin: auto;
    /* background-color: red; */
    max-width: 500px;
}

.grid_container {
    display: grid;

    grid-gap: 20px;
    padding: 10px;
}
.grid_row_1 {
    grid-template-columns: 100%;
}
.grid_row_2 {
    grid-template-columns: 15% 85%;
}

.input_box {
    /* min-width: 250px; */
    width: 100%;
    padding: 5px;
    border: 1px #1f0808;
    border-style: solid none none solid;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    background-color: #f0ecec;
}

/* make a green button  */

.btn {
    border: none;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit {
    background-color: #4caf50;
}
.reset {
    background-color: #c7c53b;
}
.update {
    background-color: #07a4ff;
}
.delete {
    background-color: #ec1515;
}

/* List page Css */

.place_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0a0a0a;
    font-size: 13px;
}
.place_table th {
    background-color: #131212;
    color: #ddd;
    font-weight: 25px;
    margin: 2px;
    /* border: 2px solid #ddd; */
    padding: 8px;
    text-align: center;
}

.place_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table_img {
    width: 100px;
    height: 100px;
}

.place_table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.place_table tr:hover {
    background-color: #f19595;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0,0,0);  */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal_header {
    text-align: center;
    padding: 2px 16px;
}
